html, body{
	font-size: 14px;
	color: #1e272e;
}
html, body, div, span, iframe,
p, a, big, cite, code, img,
small, strike, strong, sub,
b, i, ol, ul, li, form, label,
table, tbody, thead, tr, th, td,
footer, header, nav, hr{
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
	text-decoration: none;
}

/* CSS RESET END */
/* Navigation Start */

/* Navigation End */

.main{
  width: 1000px;
  margin: 0 auto;
}

.topnav a {
	display: inline-block;
	text-align: center;
	padding: 25px 0;
	width: 25%;
	background-color: #ef5777;
	color: white;
}

.topnav a:hover{
	background-color: #f53b57;
}

.Clock{
	font-size: 2.5rem;
	text-align: center;
	margin: 0 auto;
}

table {
  border-collapse: collapse;
	width: 100%;
}

table, th, td {
  border: 1px solid black;
}
th{
	font-weight: bold;
}
th,td{
	padding: 5px;
	text-align: center;
}

///
ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}
